<div class="text-center d-flex align-items-center justify-content-center bg-danger vh-100">
  <div class="card shadow bg-light text-center p-5 w-50 h-75">
    <h1 class="mb-3">Login</h1>
    <div class="mb-3">
      <input [value]="login" class="form-control form-text py-3 px-4 rounded-5" name="login" placeholder="login">
    </div>
    <div class="mb-3">
      <input [value]="password" class="form-control form-text py-3 px-4 rounded-5" name="password"
             placeholder="password" type="password">
    </div>
    <div class="my-3">
      <input type="submit" class="btn btn-primary w-100 rounded-5 fw-bold py-2 text-uppercase" placeholder="Signin">
    </div>
  </div>
</div>
